
.ItemWrapper {
    margin-top: 16px;
    box-sizing: border-box;
    width: 344px;
    height: 48px;
    right: 172px;
    background: #FAFAFC;
    border: 1px solid #C4CAD5;
    border-radius: 15px;
    display: flex;
}
@media (max-width: 768px) {
    .ItemWrapper {
        height: 30px;
    }
}
.ItemInnerContainer {
    width: 328px;
    height: 20px;
    top:0;
    bottom: 0;
    margin: auto 0 auto 16px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ItemLeftContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CheckBox {
    width: 20px;
    height: 20px;
    align-items: center;
}
.TaskNumber{
    width: 47px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
    line-height: 19px;
    padding: 0;
    margin-left: 12px;
}
.TaskNumber > span {
    margin-left: 3px;
}

.RemoveButton {
    width: 12px;
    height: 12px;
    padding: 0;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    margin-right: 18px;
    position: relative;
}

.close {
    position: absolute;
    width: 12px;
    height: 12px;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 12px;
    width: 0.5px;
    background-color: #697385;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

