
.FormWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.InputWrapper {
    box-sizing: border-box;
    width: 344px;
    height: 48px;
    background: #FAFAFC;
    border: 1px solid #C4CAD5;
    border-radius: 15px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #BBC5D7;
}
@media (max-width: 768px) {
    .InputWrapper {
        height: 30px;
    }
}
.addTaskButton {
    margin-top: 16px;
    width: 344px;
    height: 48px;
    left: 563px;
    top: 360px;
    background: #FAFAFC;
    border: 1px solid #C4CAD5;
    border-radius: 15px;
    font-family: 'Roboto', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #FC5F5F;
    cursor: pointer;
}

@media (max-width: 768px) {
    .addTaskButton {
        height: 30px;
    }
}
.ButtonInnerContainer {
    position: relative;
}
.TaskButtonTitle {
    height: 18px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}