
.TodoTitle{
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 8px;
  margin-top: 72px;
  text-align: center;
  margin-left: 0;
}
@media(min-width: 1496px) {
  .TodoTitle{
    text-align: left;
    margin-left: 126px;
  }
}
.TodoMainWrapper{
  height: 100vh;
  width: 100%;
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.TodoMainContainer {
  width: 100%;
}
@media(min-width: 1496px) {
.TodoMainContainer{
  position: absolute;
  width: 100%;
  }
}

.UpperContainer {
  display: flex;
  /*flex-direction: column;*/
  padding-bottom: 30px;
  /*align-items: center;*/
  /*left: 563px;*/
}
.TodosContainer {
  margin-left: 563px;
  align-items: center;
}
@media(max-width: 1495px) {
  .TodosContainer{
    margin: 0 auto;
  }
}
.FooterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  border-top: 1px solid rgba(234, 234, 234, 1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
